.navigation{
    width: 100%;
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
}
.nav-row{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 17%;
    height: 110px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.logo img{
    width: 158px;
    height: 54px;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 53%;
}
.link{
    display: inline-block;
    color: dimgrey;
    font-size: 17px;
    text-align: right;
    margin: 10px;
    text-decoration: none;
}
.link:first-child{
    border-bottom: solid #ADB6C7;
}
.link:hover{
    border-bottom: solid #ADB6C7;
}
.subscribe{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid dimgrey;
    border-width: 10px;
}
.subscribe a{
    padding: 12px;
    border-radius: 5px;
    font-weight: bold;
    color: dimgrey;
    text-align: right;
    text-decoration: none;
    
}
.subscribe a:hover{
    color: white;
    background-color: #1fde82;
}
.features{
    padding-top: 118px;
    margin: auto;
    box-sizing: border-box;
}
.content-title{
    font-size: 27px;
    margin-left: 32px;
}
.content-title h2{
    color: #1d273b;
    font-family: Roboto, sans-serif;
    font-size: 58px;
}
.content-paragraph{
    margin-left: 32px;
    width: 65%;
}
.content-paragraph p{
    color: #5d6678;
}
.left-content{
    width: 50%;
}
.right-content{
    display: flex;
    /* margin: 40px; */
}
.right-content img{
    max-width: 90%;
    max-height: 90%;
}
.btn-column{
    margin-left: 32px;
    margin-top: 48px;
}
.btn-column a:last-child{
    color: #3b3d42;
}
.green-btn{
    color: white;
    background-color: #1fde82;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
}
.green-btn:nth-child(even){
    background-color: #fff;
    color: #3b3d42;
}
.six-elements{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-decoration: none;
}
.element{
    width: 370px;
    height: 430px;
    padding: 40px;
    box-sizing: border-box;
    font-size: 22px;
    background-color: white;
}
.element-content{
    height: 120px;
}
.element a{
    text-decoration: none;
    font-size: 18px;
    color: #5D6678;
}
.project-pic{
    padding: 20px;
    box-sizing: border-box;
}
.project-pic img{
    width: 100%;
}
.project-pic:hover{
    ;
}